<div>
  <h1 class="title" >Profile Settings</h1>
  <section class="body">
    <div>

      <div class="login">
      <div>
        <img src="assets/img/Jose.jpg" style="width:200px;">
      </div>

        <form class="example-form">
          <mat-form-field  class="ancho" appearance="fill">
            <mat-label>First Name</mat-label>
            <input  matInput value="José Antonio">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input  matInput value="Cayllahua Gutierrez">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Display Name</mat-label>
            <input matInput value="JoseCG" >
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput value="Lima-Peru">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput value="Little Customer, trying to get rich booking soccer fields."></textarea>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
      </div>
    </div>

  </section>
</div>
