<mat-toolbar class="toolbar-section">
  <span>
     <img src="assets/img/logo-balon.svg" style="width: 40px; margin: 0; padding:0;">
  </span>

  <h1 class="title-toolbar"> DiGol </h1>
  <span class="example-spacer"></span>
  <a *ngIf="Logged()" class="toolbar-item" mat-button [matMenuTriggerFor]="menu">User: {{user.username}}</a>
  <mat-menu class="menu" #menu="matMenu">
    <button class="menu-item" mat-menu-item (click)="Logout()">Log out<mat-icon style="padding-left: 3rem;color:#ffffff;">exit_to_app</mat-icon></button>

    <button class="menu-item" mat-menu-item [routerLink]="'/customerProfile'">Profile</button>
  </mat-menu>
  <a  class="toolbar-item" mat-button [routerLink]="'/home'">Home</a>
  <a class="toolbar-item" mat-button [routerLink]="'/sport-fields'">Sport Fields</a>
  <a *ngIf="!Logged()" class="toolbar-item" mat-button [routerLink]="'/auth/signIn'">SignIn</a>
</mat-toolbar>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
